/* Main MAPA's CSS */

header {
  height: 475px;
  margin-top: 5px;
}

.logoContainer {
  margin: 0 auto;
}

.logoContainer2 {
  position: absolute;
}
.logoContainer2 img {
  width: 215px;
  height: 130px;
}

.loginField {
  position: absolute;
  z-index: 2;
  right: 0%;
  top: 0%;
  background: #0404B4;
  border-radius: 15px 0 0 15px;
  padding: 0 10px 0px 10px;
  border: 1px solid #08298A;
  color: white;
  height: 53px;
  
}

.brandLogin {
  cursor: pointer;
}

.loginField p, .loginField form {
  display: inline-block;
}

.loginField .brandLogin {
  width: 95px;
  display: inline-block;
}

#loginForm {
  margin-left: 5px;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
  text-align: center;
}

#loginForm input[type="submit"], .btn-default {
  background: #FF8000;
  border-color: #DF7401;
  color: #F2F2F2;
  font-weight: bold;
}
.loginAs {
  position: absolute;
  right: 0%;
  z-index: 1;
  margin-top: 6px;
  background: #0B0B61;
  border-radius: 12px 0 0 12px;
  color: white;
  padding: 10px;
}

.loginAs h1 {
  text-align: left;
}

.loginAs ul {
  list-style: none;
}

.loginAs ul li {
  display: inline;
  margin-right: 10px;
}

.loginAs ul li a:hover {
  border: 2px solid white;
  border-radius: 12px;
  padding: 1px;
}

.loginAs ul li a {
  color: orange;
  text-decoration: none;
  padding: 3px;
}

.loginAs p {
  color: orange;
}

span.bold {
  font-weight: bold;
}

#filters {
  width: 23%;
  height: 470px;
  margin-left: 0px;
  float: left;
}

#filters h2 {
  margin: 3px 0 0 0;
  text-align: center;
  color: #08088A;
}

#filters p {
  margin: 25px 0 2px 15px;
}

#filters .groupFilter p:nth-child(2) {
  margin-top: 0px;
}

#filters select, #filters .f3 {
  float: right;
  margin-right: 12%;
}

.groupFilter {
  margin-top: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border-right: 3px solid #BDBDBD;
  border-bottom: 3px solid #BDBDBD;
  box-shadow: 1px 1px 7px black;
  padding-bottom: 10px;
}

.sliderP, .sliderH {
  width: 80%;
  margin-left: 20px;
}

.checkerSlider {
  border: 0;
  color: #f6931f;
  font-weight: bold;
}

#mainContainer {
  border: 1px solid black;
  margin-left: 24%;
  height: 500px;
}

.imgInfo img {
  width: 150px;
}

.formAgregar {
  width: 600px;
  padding-left: 10px;
  background: #fcfcfc repeat-x left bottom;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #ddd;
  border-radius: 10px;
}

.formAgregar #descripcion {
  width: 400px;
  resize: none;
}

.propertyContainer {

}

.property{
  margin: 10px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:141px;
   width:100%;
}

.backgroundFooter {
  height: 141px;
  background: url("../img/backgroundFooter.png");
}

.triangulesFooter {
  float: left;
}

.logosFooter {
  float: right;
  margin-top: 5px;
}

.logosFooter img {
  margin-right: 5px;
}

.logosFooter2 {
  float: right;
  margin-top: 5px;
}
.logosFooter2 img {
  margin-right: 5px;
  height: 70px;
  margin-top: 50px;
  margin-right: 5px;
}

.contacto {
  border: 1px solid black;
  width: 350px;
  margin: auto;
  margin-top: -110px;
  padding-left: 20px;
  border-radius: 5px;
}

.contacto textarea, .contacto input[type="text"], .contacto input[type="email"] {
  width: 325px;
}

.contacto textarea{
  resize: none;
}

.contacto input[type="submit"] {
  margin-right: 18px;
}
.contacto #botonContacto{
  text-align: right;
}

.modal-dialog {
  width: 535px;
}

.modal-title {
  color: #08088A;
} 

.toContactForm {
  float: right;
}

.btn-details {
  background: #0404B4;
  border-color: #08088A;
  color: #F2F2F2;
  font-weight: bold;
}

.mainImage {
  float: right;
  border: 2px solid silver;
}

.showMorePhotos {
  cursor: pointer;
  color: blue;
}

.showMorePhotos:hover {
  text-decoration: underline;
}

.imgGroup {
  display: none;
}

.btn-disabled {
  opacity: .5;
}
