/* Main MAPA's CSS */

html, body {
  height: 100%;
}

.documentContainer {
  display: table;
  height: 100%;
  width: 100%;
}

.block {
  display: table-row;
  height: 1px;
}

.push {
  height: auto;
}

.wrapper {
  overflow: auto;
}

.secondChild {
  float: right;
}

.logoContainer {
  width: 30%;
}

.navHeader {
  width: 70%;
}

.logoContainer, .navHeader {
  display: inline-block;
}

.navHeader ul {
  height: 84px;
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin: 0 12px 0 12px;
  background-color: #08088A;
  border-radius: 15px;
}

.navHeader ul li {
  display: inline;
  margin: 0 12px 0 0;
  cursor: pointer;
}

.navHeader ul li p {
  display: inline-block;
  width: 30%;
  margin 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-right: 5px solid silver;
}

.navHeader ul li:last-child p {
  border-right: none;
}

span.bold {
  font-weight: bold;
}

#filters {
  width: 23%;
  height: 310px;
  margin-left: 0px;
  float: left;
}

#filters h2 {
  margin: 3px 0 0 0;
  text-align: center;
  color: #08088A;
}

#filters p {
  margin: 25px 0 2px 15px;
}

#filters .groupFilter p:nth-child(2) {
  margin-top: 0px;
}

#filters select, #filters .f3 {
  float: right;
  margin-right: 12%;
}

.groupFilter {
  margin-top: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border-right: 3px solid #BDBDBD;
  border-bottom: 3px solid #BDBDBD;
  box-shadow: 1px 1px 7px black;
  padding-bottom: 10px;
}

.sliderP, .sliderH {
  width: 80%;
  margin-left: 20px;
}

.checkerSlider {
  border: 0;
  color: #f6931f;
  font-weight: bold;
}

#mainContainer {
  border: 1px solid black;
  margin-left: 24%;
  height: 340px;
}

.formAgregar {
  width: 600px;
  padding-left: 10px;
  background: #fcfcfc repeat-x left bottom;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #ddd;
  border-radius: 10px;
}

.formAgregar #descripcion {
  width: 400px;
  resize: none;
}


.property{
  margin: 10px;
}

footer.block {
  height: 141px;
}

.backgroundFooter {
  position: absolute;
  width: 100%;
  height: inherit;
}

.logosFooter {
  float: right;
  margin-top: 5px;
}

.logosFooter img {
  margin-right: 5px;
}

.logosFooter2 {
  float: right;
  margin-top: 5px;
}
.logosFooter2 img {
  margin-right: 5px;
  height: 70px;
  margin-top: 50px;
  margin-right: 5px;
}

.contacto {
  border: 1px solid black;
  width: 350px;
  margin: auto;
  margin-top: -110px;
  padding-left: 20px;
  border-radius: 5px;
}

.contacto textarea, .contacto input[type="text"], .contacto input[type="email"] {
  width: 325px;
}

.contacto textarea{
  resize: none;
}

.contacto input[type="submit"] {
  margin-right: 18px;
}
.contacto #botonContacto{
  text-align: right;
}

.modal-dialog {
  width: 535px;
}

.modal-title {
  color: #08088A;
} 

.toContactForm {
  float: right;
}

.btn-default {
  background: #FF8000;
  border-color: #DF7401;
  color: #F2F2F2;
  font-weight: bold;
}

.btn-details {
  background: #0404B4;
  border-color: #08088A;
  color: #F2F2F2;
  font-weight: bold;
}

.btn-disabled {
  opacity: .5;
}

.mainImage {
  float: right;
  border: 2px solid silver;
}

.showMorePhotos {
  cursor: pointer;
  color: blue;
}

.showMorePhotos:hover {
  text-decoration: underline;
}

.imgGroup {
  display: none;
  overflow: hidden;
  height: 150px;
  width: 450px;
  position: relative;
}

.imgGroup ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  width: 750px;
}

.imgGroup ul li {
  float: left;
  position: relative;
}

.imgGroup .arrowBack{
  position: absolute;
  z-index: 7;
  top: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  height: 61px;
  width: 40px;
  left: 0;
  background: url("../img/arrowBack.png");
}

.imgGroup .arrowNext{
  position: absolute;
  z-index: 7;
  top: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 40px;
  height: 61px;
  right: 0;
  background: url("../img/arrowNext.png");
}

#modalDisplayer2 {
  display: none;
  width: 38%;
  float: right;
  padding-left: 12px;
  border-left: 1px solid silver;
}

#modalDisplayer2 .contactForm .headerContact {
  text-align: center;
}

#modalDisplayer2 .contactForm textarea {
  width: 100%;
  resize: none;
}

#modalDisplayer2 .contactForm input[type="submit"] {
  float: right;
}
